@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #ff1010;
    --bg: #292c36;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background-color: #292c36;
    /* display: flex; */
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header a {
    color: #fff;
    margin: 0.5rem;
    text-decoration: none;
}

.header .logo img {
    height: 3.5rem;
    width: 7.5rem;
}

.header #navbar.nav-sticky {
    background: rgba(35, 35, 35, 1);
    width: 100%;
}

.header #navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}

.header #navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header #navbar a.active {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.home {
    display: flex;
    /* padding: 20px 10px; */
    background-image: url('index_image/pic1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: grayscale(65%);
}

.home:hover {
    filter: none;
}

.home .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .content h1 {
    font-size: 4rem;
    /* text-transform: uppercase; */
    color: #ffff;
}

.button1 {
    margin: 0px 0px 0px 90px;
    padding: 6px 24px;
    background-color: rgb(240, 25, 25);
    color: white;
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 10px;
}

.button1:hover {
    background-color: rgb(173, 5, 5);
    letter-spacing: 3px;
}

/* .btn {
    padding: 0.5rem 1.5rem;
    background-color: #ff1010;
    border: 0.3rem solid #ff1010;
    color: #fff;
    margin-top: 1.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 10rem;
    height: 4rem;
} */


ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    height: 6rem;
    width: 8rem;
    overflow: hidden;
}

li>span {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

li>span:nth-child(1) {
    color: #ff1010;
    /* background-color: rgba(255,255,255,0.05); */
    font-size: 2rem;
}

li>span:nth-child(2) {
    color: cornflowerblue;
}

a {
    color: #ffff;
    text-decoration: none;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size: 1.2rem; */
}

/* home */
section {
    display: block;
}

.home-about {
    background: #151515;
}

.spad {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.about-text h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 36px
}

.about-text p.short-details {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 28px;
    margin-bottom: 20px;
}

.about-text p.long-details {
    color: #fff;
    margin-bottom: 40px;
}

.about-img img {
    min-width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

/* .about-text .primary-btn.about-btn:after {
    opacity: 1;
} */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.chooseus-section {
    background: #151515;
    padding-top: 88px;
    padding-bottom: 50px;
}

.chooseus-section .section-title {
    margin-bottom: 52px;
}

.choose-item {
    margin-bottom: 40px;
}

.choose-item p {
    color: #7b7b7b;
    font-weight: 500;
}

.choose-item h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 25px
}

p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    /* color: #8f8fa8; */
    font-weight: 400;
    line-height: 24px;
    /* margin: 0 0 15px 0; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.item {
    text-align: center;
    height: 380px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 100px 15px 15px;
    position: relative;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.item h3 {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
    text-shadow: 2px 2px #ff1010;
}

h3 {
    font-size: 30px;
}

.col,
.col-lg-10,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-md-4,
.col-md-6,
.col-sm-6,
.col-xl-7,
.col-xl-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* pass */
.container_content {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    background: #151515;
}

.card {
    width: 57%;
    height: 85%;
    max-height: 300px;
    padding: auto;
    text-align: center;
    /* background: #242625; */
    border-radius: 10px;
    box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}

.card_container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
}

.card_content {
    width: 90%;
    height: 95%;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 16px 16px 44px #0a0a0a,
        -16px -16px 44px #282a28;
    /* transition: 0.3s all ease-in-out; */
}

/* .card_content :hover {
    margin-top: -10px;
} */

.card_header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px auto;
}

/* .card_button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 24px auto;
} */
.card_button {
    padding: 8px;
    border-radius: 50px;
    background: rgb(240, 25, 25);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    letter-spacing: 0.7px;
    margin: 24px auto;

}

.card_button:hover {
    background-color: rgb(173, 5, 5);
    letter-spacing: 2px;
}

/* story */

.container_str {
    background-color: #151515;
    width: 100%;
    height: 70vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center !important;
    padding-top: 20px;
}

.ss-bl-1 p {
    color: #7b7b7b;
    padding: 10px;
    border-left: 1px solid white;
    margin-bottom: 20px;
}

.ss-bl-1 img {
    height: 150%;
    width: 100%;
    border-radius: 50%;
}

.cust-name {
    margin-top: 25px;
}

.cust-type {
    margin-top: 5px;
    color: #bbb;
    margin-left: 20px;
}

/*followers section css starts*/

.followers {
    background: url(images/pexels-victor-freitas-2261485.jpg);
    background-size: cover;
    background-position: center;
    /* height: 500px; */
    /* filter: sepia(75%); */
}

.counter {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 34px 0px;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
}

.counter .encounter {
    text-align: center;
    margin: 0px 25px;
    font-size: 64px;
}

.counter .encounter span {
    display: block;
    font-size: 16px;
    margin-top: 14px;
    padding: 0px 10px;
    text-shadow: 1px 1px 6px yellow;
}

.name {
    font-size: 24px;
    padding-top: 2rem;
    line-height: 0.9rem;



}

.sub-name {
    font-size: 16px;
    font-style: italic;
    color: rgb(192, 189, 189);
}

.waiting {
    height: 60vh;
    background-image: url('./Fitness/images/readyforchange.PNG');
    background-repeat: no-repeat;

    background-size: 100% 100%;
}

.color {
    background-color: white;
}

.changes {
    font-style: italic;
    font-size: larger;
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding: 6rem 0rem 2rem 4rem;
}

.changes1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0rem 2rem 2rem 4rem;



}

.buttonsignup {
    margin: 0px 0px 0px 100px;
    padding: 10px 30px;
    background-color: rgb(240, 25, 25);
    color: white;
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;

}

.buttonsignup:hover {
    background-color: rgb(173, 5, 5);
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
}

/* footer css start */
footer .gridcontainer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 3rem;
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 40px;
}

footer .gridcontaineritems {
    text-align: justify;

}

footer .gridcontaineritems .gridcontentitems2 {
    color: white;
    font-size: 20px;

}

footer .gridcontaineritems .gridcontentitems2 .infoitem {
    color: grey;
    font-size: 16px;
}

footer .exerciseItem {
    color: white;
    line-height: 2;

}

footer .gridcontentitems1 h3 {
    padding-bottom: 2rem;
    color: rgb(202, 5, 5);
}


footer .news {
    font-size: 16px;
    padding-bottom: 10px;
    ;
}

footer i {
    color: rgb(202, 5, 5);
}

footer .mailbox {
    height: 30px;
    width: 200px;
    background-color: rgb(219, 218, 218);
    font-size: 20px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(58, 57, 57);
}

footer .workinghrs {
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
    color: rgb(202, 5, 5)
}

footer .time {
    padding-top: 10px;
    line-height: 1.4;

}

footer .share {
    padding: 1rem 0;
}

footer .follow {
    color: rgb(202, 5, 5);
    font-size: 20px;
    font-weight: 700;


}

.gymname h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(202, 5, 5);
}

.gymnamecontent {
    line-height: 1.4;
}

footer .share a {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: #fff;
    border: white;
    /* border: var(--border); */
    border-radius: 50%;
}

footer a:hover {
    border-bottom:4px solid rgb(202, 5, 5) ;

}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    background-attachment: fixed;
    padding: 1rem 0;
    text-align: center;
    color: white;
}

footer p {
    color: grey;
    padding-top: 70px;
}

footer .copyright a {
    display: inline-block;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 3px;
    width: fit-content;
    border-radius: 5px;
}

footer .copyright a:hover {
    color: rgb(224, 34, 34);
    font-weight: 800;
}

footer .copyright .logo-bottom {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
/*followers section css ends*/

.mobile-nav {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--bg);
}

.mobile-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav li {
    list-style-type: none;
    height: 4rem;
    width: 8rem;
    overflow: hidden;
}
.mobile-nav li a{
    color: #ff1010;
}
.mobile-nav li a:hover{
    border-bottom: 2px solid var(--main-color);
}

.mobile-nav li>span {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.mobile-nav li>span:nth-child(1) {
    color: #ff1010;
    /* background-color: rgba(255,255,255,0.05); */
    font-size: 2rem;
}

.mobile-nav li>span:nth-child(2) {
    color: cornflowerblue;
}



@media only screen and (max-width: 768px) {

    .logo {
        height: 2rem;
    }

    li {
        height: 2rem;
        width: 2rem;
    }

    li>span:nth-child(1) {
        font-size: 1rem;
    }

    a {
        font-size: 0.8rem;
    }

    header .content h1 {
        font-size: 3rem;
    }

    /* .btn {
      font-size: 1rem;
    } */
    .about-text {
        text-align: center;
    }

    .about-text h2 {
        font-size: 32px;
        margin-bottom: 36px;
    }

    .about-text p.long-details {
        margin-bottom: 0px;
    }

    .chooseus-section {
        text-align: center;
    }

    .container_content {
        width: 95%;
        margin-bottom: 60vh;
        display: inline-block;
    }

    .card_container {
        display: inline-block;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .ss-bl-1 img {
        height: 150%;
        width: 35%;
        border-radius: 50%;
    }

    .container_str {
        padding: 2rem 0rem;
        height: auto;
        padding-left: 15px;
    }

    .cust-name {
        margin: 0px 0px 5rem 50%;
    }
}

@media (max-width:1060px) {
    footer .gridcontainer {
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 3rem;
        padding-right: 6rem;
    }

    footer .gridcontaineritems {

        padding-top: 3rem;

    }
    .home .content h1{
        font-size: 3rem;
    }
}

@media(max-width:768px) {
    footer .exerciseItem {
        font-size: 12px;
    }

    footer .gridcontainer {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    footer div.share {
        font-size: 4px;
    }
}

@media (max-width:576px) {

    .header {
        display: none;
    }
    .mobile-nav{
        display: block;
    }

    footer .exerciseItem {
        font-size: 8px;
    }

    footer .news {
        font-size: 10px;
    }

    footer .gymnamecontent {
        font-size: 12px;
    }

    footer .gridcontainer {
        grid-column-gap: 1rem;
    }

    footer div.share {
        font-size: 2px;
    }
    footer p{
        padding-bottom: 58px;
    }
}

@media(max-width:520px) {
    footer .gridcontainer {
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    footer .exercise {
        line-height: 4;
    }

    footer .exerciseItem {
        font-size: 14px;
    }
}

@media (max-width:470px){
    footer .gridcontainer{
        display: flex;
        flex-direction: column;
    }
    footer .gridcontaineritems h3 {
        font-size: 22px;
    }
    footer .gridcontaineritems h2 {
        font-size: 30px;
    }
    footer .exerciseItem {
        font-size: 18px;
    }
    footer .news {
        font-size: 18px;
    }

    footer .gymnamecontent {
        font-size: 18px;
    }

    
}