@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: rgb(240, 25, 25);
    --bg: #191a19;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: #fff;
}

h1 {
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    margin: 20px 0px;
    font-size: 42px;
}

.h2 {
    text-align: center;
    padding-top: 2rem;
    font-size: 20px;
}

.h1 {
    text-align: center;
    padding-top: 0.4rem;
    font-size: 40px;
}

/*header css*/
.header {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.header a {
    color: #fff;
    margin: 1rem 1rem;
}

/* .header .logo {
    display: flex;
    align-items: center;
} */

.header .logo img {
    height: 3.5rem;
    width: 7.5rem;
}

.header #navbar.nav-sticky {
    background: rgba(35, 35, 35, 1);
    width: 100%;
}

.header #navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}

.header #navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header #navbar a.active {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

/*header css ends*/

/*home css starts*/

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 1s;
}

.home::before {
    content: "";
    position: absolute;
    background: url(../images/homeBackground1.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
    filter: grayscale(65%);
}

#home1::before {
    content: "";
    position: absolute;
    background: url(../images/homeBackground2.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}

#home2::before {
    content: "";
    position: absolute;
    background: url(../images/homeBackground4.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
    filter: grayscale(45%);
}

.home:hover::before {
    content: "";
    filter: none;
}

#home2:hover::before {
    content: "";
    filter: none;
}

.home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .content h3 {
    font-size: 4rem;
    /* display: flex; */
}

.home .content span {
    color: var(--main-color);
    /* color: #fb5b21; */
    margin-left: 3rem;
    margin-right: 3rem;
}

.home .content p {
    width: 47%;
    text-align: end;
    margin-left: 145px;
    margin-top: 21px;
    align-items: flex-end;
}

.swiper {
    /* width: 95%; */
    /* padding: 0px 8px; */
    height: fit-content;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

/*about section css*/
.about {
    display: flex;
    flex-direction: row;
}

.about .left-content {
    width: 50%;
    text-align: right;
    background: var(--main-color);
    position: relative;
}

.about .left-content .left-content-img {
    padding-top: 90px;
    padding-bottom: 110px;
    position: relative;
    transition: all 0.3s ease 0s
}

.about .left-content .left-content-img img {
    position: relative;
    z-index: 9;
}

.about .left-content .left-content-text {
    position: absolute;
    top: 34%;
    right: 4%;
}

.about .left-content .left-content-text h3 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    line-height: 70px;
    text-transform: capitalize;
}

.about .left-content .left-content-text h3 span {
    font-weight: 600;
}


.about .left-content::after {
    display: block;
    background: var(--main-color);
    position: absolute;
    content: "";
    right: -16px;
    top: 47%;
    width: 40px;
    height: 40px;
    transform: rotate(220deg);
}

.about .right-content {
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about .right-content .exercise {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about .right-content .exercise .exerciseContent {
    padding: 20px 39px 20px 0px;
    width: 543px;
}

.about .right-content .exercise .exerciseContent p {
    line-height: 24px;
}

.about .right-content .exercise .exerciseContent h2 {
    margin-bottom: 17px;
}

.material-symbols-outlined {
    font-size: 59px;
    color: var(--main-color);
}

.button10 {
    margin: 0px 0px 0px 100px;
    padding: 6px 16px;
    /* height: 38px; */
    /* width:100px; */
    background-color: rgb(240, 25, 25);
    color: white;
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 10px;

}

.button10:hover {
    background-color: rgb(105 8 8);
    letter-spacing: 3px;
}

/*about section css ends*/

/*program section css starts*/
.programs {
    margin-top: 34px;
}

.programs .programsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5rem;
}

.programs .programsContainer .programItem {
    display: flex;
    text-align: end;
    margin: 0px 0.5rem;
    box-shadow: 0px 0px 2px 2px #676a67;
}

.programs .programsContainer .programItem img {
    height: 500px;
    width: 50%;
}

.programs .programsContainer .programItem .programItemContent {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.programItemContent ul {
    margin: 2.5rem 0px;
}

.programItemContent ul li {
    list-style: none;
    text-align: start;
}

.programItemContent ul li span {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.programItemContent ul li::before {
    content: "\00BB";
    font-size: 2rem;
    margin-right: 9px;
}

/*program section ends*/

/*trainers section css starts*/

.trainers {
    margin: 3rem;
}

.trainers .trainersContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 3rem;
    justify-items: center;
}

.trainers .trainersContainer .trainerPerson {
    overflow: hidden;
    box-shadow: 4px 4px 6px 2px #403f3e;
}

.trainers .trainersContainer .trainerPerson img {
    height: 350px;
    width: 300px;
    border-radius: 10px;
}

.trainers .trainersContainer .trainerPerson:hover {
    transform: scale(1.1) translateY(-3px);

}

.trainers .trainersContainer .trainerPerson:active {
    transform: scale(0.9) translateY(0px);
}

/*trainers section css ends*/

/*presonal trainers section css starts*/
.pTrainers .pTrainerList {
    display: flex;
    justify-content: space-around;
}

.pTrainers .pTrainerList .pTContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    text-align: left;
}

.pTrainers .pTrainerList .pTContent h2 {
    font-size: 30px;
}

.pTrainers .pTrainerList .pTContent p {
    line-height: 1.5rem;
    margin: 34px 0px;
}

.pTrainers .pTrainerList img {
    height: 700px;
    width: 508.350px;
}

.pptt2 {
    display: none;
}

/*presonal trainers section css ends*/


/*blog section css starts*/
.blogss {
    font-size: 20px;
}

#testimonies {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 6rem;
    grid-row-gap: 4rem;
    padding: 2rem 4rem 2rem 4rem;

}

.item1 {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 26px;
    background-image: url('../images/pink-blur-circle.png');
    background-position-x: 70%;
    /* background-size:100%; */
}

.item2 {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 26px;
    background-image: url('../images/violet-blur-circle.png');

    background-position-x: 70%;
    /* background-size:100%; */
}

.item3 {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 26px;
    background-image: url('../images/aqua-blur-circle.png');
    background-position-x: 70%;
    /* background-size:100%; */
}

.img {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;


}

.grid1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 1rem;
    padding-left: 10px;
    justify-content: start;
    grid-gap: 40px;



}

.grid2 {
    display: flex;
    /* grid-template-columns:auto auto; */
    padding-top: 3rem;
    padding-left: 4px;
    align-items: center;
    grid-gap: 29px;

}

.grid2 .items1 {
    margin-left: 100px;
    font-family: "Roboto", Arial, sans-serif;

}

.grid2 .items2 {
    margin-right: 100px;

}

.grid2 .items1 .blog1heading {
    color: rgb(204, 200, 200);
    font-size: 20px;
    font-family: "Roboto", Arial, sans-serif;

}

.grid2 .items1 .blog1subheading {
    font-size: 30px;
    font-weight: 300px;

}

.grid2 .items1 .subtitle {
    font-size: 14px;
    font-style: italic;
    color: rgb(204, 200, 200);
    line-height: 0px;
}

.grid2 .items1 .content {
    line-height: 1.8;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    grid-column-gap:15rem;
    grid-row-gap: 8rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}




.button1 {
    line-height: 2;
    font-size: 16px;
    color: rgb(211, 8, 8);
    text-decoration: none;
}

.grid3 .button1:hover {

    letter-spacing: 1px;

}

.grid3 .blogimg {
    position: relative;
    border-radius: 10px;
    /* width: 440px; */
    /* margin-left: 82px; */
    text-align: center;
    display: block;
    z-index: -1;
}

.grid3 .img-content {
    position: absolute;
    top: 10%;
    left: 26%;
    color: white;
    width: 48%;
    text-shadow: 1px 1px black;
    box-shadow: 0px 0px 34px 17px #b6a4a4;
    transition: all 2.4s ease-in-out;
    transform: scale(1);
    display: none;
}

.grid3 .img1 {
    width: 470px;
    height: 200px;
    opacity: 0.8;
}

/* .grid3 .img1:hover {
    display: none;
} */

/* .grid3 .img1:hover .img-content {
    position: absolute;
    top: 0%;
    left: 0%;
    display: inline-block;
    background-color: black;
    overflow: auto;

} */


.grid3 .gridcontent {
    background: #191a19;
    width: 300px;
    /* position: absolute; */
    z-index: 2;
    margin: 0px auto;
    text-align: center;
    margin-top: -40px;
    padding: 6px 30px;
    height: 130px;
    border-radius: 10px;
    ;
    box-shadow: 0px 2px 6px rgb(151 149 149);
    color: whitesmoke;


}

/* .grid3 .gridcontent:hover{
    background:white;
    
} */

.grid3 .life {
    text-align: center;
    border-bottom: 2px solid rgb(180, 180, 180);
    line-height: 2.4;
    color: grey;
}

.grid3 .lifecontent {
    font-size: 17px;
    line-height: 1.4;
    color: whitesmoke;
}


.button1 {
    line-height: 2;
    font-size: 13px;
    color: grey;
    text-decoration: none;
}

.grid3 .button1:hover {
    color: rgb(211, 8, 8);
    cursor: pointer;
}

/* .grid3 .griditem .blogimg{
    width:34%
} */
.blogsubheading {
    width: 98%;
    text-align: center;
    border-bottom: 1px solid rgb(250, 250, 250);
    line-height: 0.1em;
    margin: 80px 10px 20px 10px;
}

.blogsubheading span {
    background-color: #191a19;
    padding: 0px 12px;
    font-size: 2rem;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 10px;
    margin-top: 2rem;
    /* width: fit-content; */
    margin-left: 7rem;
    /* margin-right: 6rem; */
    /* justify-content: center; */

}

.grid4 .grid4item .grid4img {
    width: 340px;
    height: 210px;
    border-radius: 10px;

}

.grid4 .grid4item .grid4content {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.grid4 .contentheading {
    font-size: 20px;
    color: rgb(160, 157, 157);

}

.grid4 .content1 {
    line-height: 1.6;
}

.name {
    font-size: 24px;
    padding-top: 2rem;
    line-height: 0.9rem;



}

.sub-name {
    font-size: 16px;
    font-style: italic;
    color: rgb(192, 189, 189);
}

.container {
    height: 60vh;
    background-image: url('../images/readyforchange.PNG');
    background-repeat: no-repeat;

    background-size: 100% 100%;
}

.color {
    background-color: white;
}

.changes {
    font-style: italic;
    font-size: larger;
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding: 6rem 0rem 2rem 4rem;
}

.changes1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0rem 2rem 2rem 4rem;



}

.button {
    margin: 0px 0px 0px 100px;
    padding: 10px 30px;
    background-color: rgb(240, 25, 25);
    color: white;
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;

}

.button:hover {
    background-color: rgb(173, 5, 5);
    letter-spacing: 3px;
}

/* footer css start */


footer .gridcontainer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 3rem;
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 40px;
}

footer .gridcontaineritems {
    text-align: justify;

}

footer .gridcontaineritems .gridcontentitems2 {
    color: white;
    font-size: 20px;

}

footer .gridcontaineritems .gridcontentitems2 .infoitem {
    color: grey;
    font-size: 16px;
}

footer .exerciseItem {
    color: white;
    line-height: 2;

}

footer .gridcontentitems1 h3 {
    padding-bottom: 2rem;
    color: rgb(202, 5, 5);
}


footer .news {
    font-size: 16px;
    padding-bottom: 10px;
    ;
}

footer i {
    color: rgb(202, 5, 5);
}

footer .mailbox {
    height: 30px;
    width: 200px;
    background-color: rgb(219, 218, 218);
    font-size: 20px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(58, 57, 57);
}

footer .workinghrs {
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
    color: rgb(202, 5, 5)
}

footer .time {
    padding-top: 10px;
    line-height: 1.4;

}

footer .share {
    padding: 1rem 0;
}

footer .follow {
    color: rgb(202, 5, 5);
    font-size: 20px;
    font-weight: 700;


}

.gymname h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(202, 5, 5);
}

.gymnamecontent {
    line-height: 1.4;
}

footer .share a {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: #fff;
    border: white;
    /* border: var(--border); */
    border-radius: 50%;
}

footer a:hover {
    border-bottom:4px solid rgb(202, 5, 5) ;
    /* background-color: var(--main-color); */

}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    background-attachment: fixed;
    padding: 1rem 0;
    text-align: center;
    color: white;
}

footer p {
    color: grey;
    padding-top: 70px;
}

footer .copyright a {
    display: inline-block;
    font-weight: 700;
    color: black;
    background-color: white;
    padding: 3px;
    width: fit-content;
    border-radius: 5px;
}

footer .copyright a:hover {
    color: rgb(224, 34, 34);
    font-weight: 800;
}

footer .copyright .logo-bottom {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.mobile-nav {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--bg);
}

.mobile-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nav li {
    list-style-type: none;
    height: 4rem;
    width: 8rem;
    overflow: hidden;
}
.mobile-nav li a{
    color: #ff1010;
}
.mobile-nav li a:hover{
    border-bottom: 2px solid var(--main-color);
}

.mobile-nav li>span {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.mobile-nav li>span:nth-child(1) {
    color: #ff1010;
    /* background-color: rgba(255,255,255,0.05); */
    font-size: 2rem;
}

.mobile-nav li>span:nth-child(2) {
    color: cornflowerblue;
}


/* @media (max-width:820px){
    footer .gridcontainer{
        grid-template-columns:repeat(3,auto);
        grid-column-gap: 3rem;
    }
     footer .gridcontaineritems{
        
        padding-top:3rem;
        
    }
    footer #getinfo{
       margin-auto;
    }
    footer #letter{
        margin:auto;
    }
   
} */

/*media query starts*/
@media (max-width:992px) {
    .button10{
        padding: 0px 6px;
        letter-spacing: initial;
    }
    .home .content h3 {
        font-size: 3rem;
    }

    .about {
        flex-direction: column;
    }

    .about .left-content {
        width: 100%;
        text-align: center;
    }

    .about .left-content::after {
        right: 50%;
        top: 96%;
        transform: rotate(225deg);
    }

    .about .right-content {
        width: 100%;
        padding: 24px 0px;
    }

    .pTrainers .pTrainerList .pTContent {
        text-align: center;
        align-items: center;
    }

    .pTrainers .pTrainerList .pTContent p {
        font-size: 14px;
    }

    .button {
        margin: 0px;
        font-size: 14px;
    }

    .container .button {
        margin: 0px 0px 0px 100px;
    }

    .pTrainers .pTrainerList img {
        height: 570px;
    }

    .grid2 {
        flex-direction: column;
    }

    .grid2 .items1 {
        margin-left: 0px;
    }

    .grid2 .items2 {
        margin-right: 0px;
    }

}

@media (max-width: 768px) {
    .home .content h3 {
        font-size: 2.5rem;
    }

    .home .content span {
        margin-left: 0px;
        margin-right: 0px;
    }

    .pptt1 {
        display: none;
    }

    .pptt2 {
        display: block;
    }

    .pTrainers .pTrainerList {
        flex-direction: column;
        margin: 2rem;
    }

    .pTrainers .pTrainerList .pTContent {
        width: 100%;
    }

    .pTrainers .pTrainerList img {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .header {
        display: none;
    }
    .mobile-nav{
        display: block;
    }

    .about .left-content .left-content-img img {
        z-index: 0;
        height: 263px;
    }

    .changes {
        font-size: 31px;
        padding: 5rem 0rem 2rem 3rem;
    }

    .programs .programsContainer {
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    }

    .trainers {
        margin: 0px;
    }

    .grid {
        padding: 0rem;
    }

    .grid2 .items2 img {
        width: 312px;
        height: 240px;
    }
    footer p{
        padding-bottom: 58px;
    }
}

@media (max-width:1060px) {
    footer .gridcontainer {
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 3rem;
        padding-right: 6rem;
    }

    footer .gridcontaineritems {

        padding-top: 3rem;

    }


}

@media(max-width:768px) {
    footer .exerciseItem {
        font-size: 12px;
    }

    footer .gridcontainer {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    footer div.share {
        font-size: 4px;
    }
}

@media (max-width:576px) {
    footer .exerciseItem {
        font-size: 8px;
    }

    footer .news {
        font-size: 10px;
    }

    footer .gymnamecontent {
        font-size: 12px;
    }

    footer .gridcontainer {
        grid-column-gap: 1rem;
    }

    footer div.share {
        font-size: 2px;
    }
}

@media(max-width:520px) {
    footer .gridcontainer {
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    footer .exercise {
        line-height: 4;
    }

    footer .exerciseItem {
        font-size: 14px;
    }
    .grid4{
        margin-left: 0rem;
    }
    .grid3 .img1{
        width: 320px;
    }
    .blogsubheading{
        line-height: initial;
    }
}
@media (max-width:470px){
    footer .gridcontainer{
        display: flex;
        flex-direction: column;
    }
    footer .gridcontaineritems h3 {
        font-size: 22px;
    }
    footer .gridcontaineritems h2 {
        font-size: 30px;
    }
    footer .exerciseItem {
        font-size: 18px;
    }
    footer .news {
        font-size: 18px;
    }

    footer .gymnamecontent {
        font-size: 18px;
    }

    
}
